.map {
  .rsm-svg {
    width: 100%;
    height: auto;
  }

  .rsm-geographies {
    color: rgb(244, 244, 244);
  }

  .rsm-geography {
    stroke: rgb(244, 244, 244);
    stroke-width: 0.5;
    outline: none;
  }
}
